.container {
  display: flex;
  gap: 24px;
  padding: 20px;
  max-width: 100%;
  overflow-x: hidden;
}

.mainContent {
  background-color: white;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.mainFilter {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.filterOne {
  flex: 1;
}

.filterTwo {
  display: flex;
  gap: 10px;
}

.sideContent {
  background-color: white;
  position: static !important;
  width: 23%;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1440px) {
  .sideContent {
    width: 100%;
  }
  .container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1150px) {
}
@media (max-width: 910px) {
}

@media (max-width: 560px) {
  .container {
    padding: 5px;
  }
  .mainContent {
    padding: 10px;
  }
}

@media (max-width: 425px) {
  .mainFilter {
    flex-direction: row;
    gap: 4px;
  }
  .filterTwo {
    justify-content: space-between;
  }
}

/* .sideItems div input {
  margin-top: 10px;
} */

/* Single Page */
