.main_box {
  background-color: #f4f5f7;
  min-height: 100vh;
  padding: 40px;
}

@media only screen and (max-width: 900px) {
  .main_box {
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .main_box {
    padding: 10px;
  }
}
