@media (max-width: 768px) {

    .bg-warning,
    .bg-success,
    .bg-error {
        width: 80px;
        /* Adjust the width as needed */
        display: inline-block;
    }

    .pTable {
        background-color: white;
        margin-top: 30px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    }

    .priceField {
        width: 40px;
    }
}