.light {
  --primary: #475A6F18;
  --secondary: #3498db1e;
  --accent: #e74d3c23;
  --light: #f1f1f169;
}
/* top summary cards only */
.card {
  /* border: 1px solid #475A6F; */
  border-radius: 8px;
  /* background-color: #f1f1f1; */
  color: #475A6F;
  box-shadow: 2px 2px 8px #eee,
              -2px -2px 8px #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.h3 {
  margin: 0px;
  font-size: 24px;
}
.para {
  margin: 0px;
  margin-top: 5px;
  font-size: 16px;
  color: #54677a;
}
.icon {
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: white;
  background-color: #475A6F;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab_buttons {
  color: #475A6F;
  /* font-weight: bold; */
  margin-right: 20px;
  /* display: flex; */
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding-bottom: 10px;
  transition: border-color 0.5s ease-in-out;
}
.tab_buttons:hover {
  border-bottom: 3px solid #475A6F;
}

.labels {
  margin: 10px 0;
}

.active {
  border-bottom: 3px solid #475A6F;
}

.sales_report {
  padding: 25px;
  box-shadow: 2px 2px 8px #eee,
              -2px -2px 8px #eee;
  border-radius: 8px;
  width: 60%;
}
.sales_head {
  color: #475A6F;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.orders_pie {
  /* width: 350px; */
  box-shadow: 2px 2px 8px #eee,
              -2px -2px 8px #eee;
  border-radius: 8px;
  width: 38%;
  padding: 20px;
}

.user_act {
  box-shadow: 2px 2px 8px #eee,
              -2px -2px 8px #eee;
  padding: 15px;
  border-radius: 8px;
  max-width: 100%;
}
.user_act_cont{
  width:60%
}
.daily_signups {
  width: 38%;
}
.barChart {
  /* max-width: 338px; */
}

.product_img {
  max-width: 100px;
  max-height: 100px;
}

.top_products {
  margin-top: 20px;
}
.product_cards {
  display: flex;
  margin-bottom: 15px;
}
.product_cards_figure{
  width:110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F1F1;
  border-radius: 5px;
}

.product_data {
  margin-left: 20px;
  width: calc(100% - 140px);
  color: #475A6F;
}

.product_h5 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sales {
  color: #54677a;
  font-weight: 300;
  font-size: 12px;
}
.product_para {
  color: #54677a;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}
.p_price {
  font-weight: 600;
  font-size: 14px;
  margin-right: 20px;
}
.o_price {
  font-size: 12px;
  font-weight: 300;
}

.categories {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.cat_name {
  width: 80px;
}

.icon_arrow {
  color: #475A6F;
  font-size: 10px;
  font-weight: bold;
}

.table {
  color: #475A6F;
  width: 100%;
  font-size: 15px;
  margin-top: 15px;
}
.thead {
  border-bottom: 1px solid #eee;
}
.tr,
.thead {
  padding: 15px !important;
  text-align: left;
}
.td {
  padding: 15px 0;
}
.pieChart {
  max-width: 290px;
  margin: 0 auto;
}
.x_auto {
  overflow-x: auto;
  max-width: 100%;
}
.user_act_chart {
  /* max-width: 500px; */
  overflow-x: auto;
}

.bg_white {
  background-color: white;
}

.revenue_chart{
  max-width: 90%;
}
.anime{
  animation: opacity .3s ease-in-out;
}
.barchart_cont{
  max-width: 100%;
};

@keyframes opacity{
  from { opacity: .5;}
  to { opacity: 0;}
}
@media only screen and (max-width:900px) {
  /* .revenue_chart {
      max-width: 80vw;
      max-height: 100%;
    } */
  .orders_pie {
    /* max-width: 350px !important; */
  }
}
@media only screen and (max-width:1150px) {
  .barChart {
    max-width: 100%;
  }
  .daily_signups{
    width: 100%;
  }
  .user_act_cont,
  .orders_pie,
  .sales_report{
    width: 100%;
  }

}
