.storeCard {
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  height: 450px;
  width: 320px;
  border: 1px solid #ddd;
  margin: 0 auto; /* Center the card horizontally by default */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

@media (max-width: 1036px) {
  .storeCard {
    width: 90%; /* Adjusted width for medium-sized screens */
    max-width: 500px; /* Set a maximum width if needed */
  }
}

@media (max-width: 768px) {
  .storeCard {
    max-width: 400px; /* Adjusted width for smaller screens */
  }
}

@media (max-width: 585px) {
  .storeCard {
    max-width: 300px; /* Adjusted width for even smaller screens */
  }
}

@media (max-width: 392px) {
  .storeCard {
    max-width: 250px; /* Adjusted width for very small screens */
  }
}
