.storeCard {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  height: 400px;
  width: 320px;
  box-shadow: 40px 27px 56px -34px rgba(44, 62, 80, 0.75);
  -webkit-box-shadow: 40px 27px 56px -34px rgba(44, 62, 80,0.75);
  -moz-box-shadow: 40px 27px 56px -34px rgba(44, 62, 80, 0.75);
}
/* #2c3e50 */

@media (max-width: 1036px) {
  .storeCard {
    width: 500px;
  width: 100%; /* Set the initial width to 100% */
  max-width: 500px; /* Set a maximum width if needed */
  margin: 0 auto; /* Center the card horizontally */
}}

/* Adjust width based on different screen sizes if needed */
@media (max-width: 768px) {
  .storeCard {
    /* Adjust properties for smaller screens */
    max-width: 400px;
  }
}

@media (max-width: 585px) {
  .storeCard {
    /* Adjust properties for even smaller screens */
    max-width: 300px;

}}

@media (max-width: 392px) {
  .storeCard  {
    /* Adjust properties for very small screens */
    max-width: 250px;
  }
}
