.storeCard {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  height: 400px;
  width: 320px;
  box-shadow: 40px 27px 56px -34px rgba(44, 62, 80, 0.75);
  -webkit-box-shadow: 40px 27px 56px -34px rgba(44, 62, 80,0.75);
  -moz-box-shadow: 40px 27px 56px -34px rgba(44, 62, 80, 0.75);
}
/* #2c3e50 */

@media (max-width: 1036px) {
  .storeCard {
    width: 500px;
  }
}
@media (max-width: 585px) {
  .storeCard {
    width: 300px;
  }
}
@media (max-width: 392px) {
  .storeCard {
    width: 250px;
    /* height: 350px; */
  }
}
