.container {
  display: flex;
  gap: 24px;
}

.mainContent {
  background-color: white;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.mainFilter {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.filterOne {
  flex: 1;
}

.filterTwo {
  display: flex;
  gap: 10px;
}

.sideContent {
  background-color: white;
  width: 23%;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

.sideItems {
  margin-top: 10px;
}

.sideItems div {
  margin-bottom: 15px;
  width: 100%;
}
.orderCardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 20px;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.sercheAndPrint {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}
.tableAndCommentBoxDiv {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}
.orderTable {
  width: 80%;
}
@media (max-width: 1440px) {
  .sideContent {
    width: 100%;
  }
  .container {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1300px) {
  .orderTable {
    width: 60%;
  }
  .tableAndCommentBoxDiv {
    justify-content: center;
  }
}

@media (max-width: 1150px) {
  .orderCardGrid {
    grid-template-columns: repeat(1, 1fr);
    /* justify-items: center; */
  }
  .tableAndCommentBoxDiv {
    flex-direction: column;
  }
  .orderTable {
    width: 100%;
  }
}
@media (max-width: 910px) {
  .orderInfo {
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .sercheAndPrint {
    flex-direction: column;
    margin-top: 20px;
  }
}

@media (max-width: 425px) {
  .mainFilter {
    flex-direction: column;
  }
  .filterTwo {
    justify-content: space-between;
  }
}

/* .sideItems div input {
  margin-top: 10px;
} */

/* Single Page */
