.mainDiv {
  display: flex;
}

.fromDiv {
  width: 60%;
  padding: 1rem;
  /* border: 1px solid red; */
}

.imageUpDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* border: 1px solid red; */
}
.cardMainDiv {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.singleCard {
  width: 45%;
}
@media (max-width: 1600px) {
  .mainDiv {
    display: flex;
    flex-direction: column-reverse;
    order: 1;
  }
  .fromDiv {
    width: 100%;
    padding: 1rem;
  }
  .imageUpDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 1260px) {
  .cardMainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
  }
  .singleCard {
    width: 100%;
  }
}
