@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

.ant-menu-item-selected {
  background-color: #dadada !important;
  border: 1px dashed #393f47 !important;
  border-radius: 2 !important;
}

.bg-success {
  background-color: #27ae60;
}

.bg-warning {
  background-color: #ffcc00;
}

.bg-error {
  background-color: #e74c3c;
}

.ant-picker-has-feedback {
  width: 100%;
}

.leaflet {
  height: 300px;
  width: 100%;
}

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.ant-table-thead .ant-table-cell {
  background-color: #f4f5f7 !important;
}

.ant-table-thead > tr > th {
  border-radius: 0px 50px 0px 50px;
  text-align: center !important;
}

.ant-badge-not-a-wrapper{
  width:80px;
  /* height:50px; */
  padding:3px;
  z-index: 100 !important;
  background:#FAAD14;
  border-radius: 4px;
  position: absolute;
}
