/* .storeGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 15px;
} */

.userGrid {
  /* margin-top: 20px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
  gap: 20px;
}

.admins_card_container{
  background-color: white;
  padding: 1vw;
  border-radius: 8px;
  margin-top: 15px !important;
}