.container{
    padding: 0px 0;
    /* background-color: #fff; */
    max-width: 100%;
    overflow-x: hidden;
    color: #475A6F;
}

.summary{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 9px;
    row-gap: 9px;
}

.sales_report{
    display: flex;
    /* grid-template-columns: 2fr 1fr; */
    column-gap: 11px;
    row-gap: 11px;
    margin: 11px 0;
}

.user_act{
    display: flex;
    /* grid-template-columns: auto auto; */
    column-gap: 11px;
    row-gap: 11px;
    margin: 11px 0;
}

.dayly_signups{
    max-width: 100%;
}

.top_items{
    display: flex;
    /* grid-template-columns: 3fr 2fr; */
    column-gap: 11px;
    row-gap: 11px;
}

.bg_white{
    background-color: white;
}

.orders{
    margin: 15px 0;
    border-radius: 15px;
    padding:20px;
    box-shadow: 2px 2px 6px #ddd,
        -1px -1px 3px #ddd;
    overflow-x: auto;
    max-width: 100%;
    min-width: 550px;
    box-sizing: content-box;
}


@media only screen and (max-width:1150px){
    .summary {
        grid-template-columns: repeat(2, 1fr);
    }
    .dayly_signups{
        max-width: 100%;
    }
    .sales_report{
        grid-template-columns:1fr;
    }
    .user_act,.top_items,.sales_report{
        
        flex-direction: column;
    }
    .orders{
        overflow-x: scroll;
    }
}
@media only screen and (max-width:500px) {
    .summary {
        grid-template-columns: repeat(1, 1fr);
    }
}