.container {
  display: flex;
  column-gap: 24px;
  width: 96%;
  margin: 2rem;
}

.mainContent {
  width: 100%;
  padding: 24px;
  border: 1px solid rgb(225, 225, 231);
  border-radius: 6px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

.mainFilter {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.filterOne {
  max-width: 320px;
}

.filterTwo {
  display: flex;
  gap: 24px;
}

/* .sideContent {
  width: 23%;
  padding: 12px;
  border: 1px solid rgb(225, 225, 231);
  border-radius: 6px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
} */

/* .sideItems input {
  margin: 6px 0px;
} */

.productContentr {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-columns: repeat(2, 1fr); */
  row-gap: 20px;
  column-gap: 20px;
}

.inputSearch {
  width: 30%;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    row-gap: 24px;
  }

  .mainContent {
    width: 99%;
  }

  /* .productContentr {
    grid-template-columns: repeat(1, 1fr);
  } */

  /* .sideContent {
    width: 99%;
  } */

  .filterTwo {
    flex-direction: column;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    flex-direction: column;
    row-gap: 24px;
  }

  .mainContent {
    width: 99%;
  }

  .sideContent {
    width: 99%;
  }

  .filterTwo {
    flex-direction: column;
  }
}

.productImg {
  /* padding: 20px; */
  margin-left: 10px;
  border-radius: 20px;
}

.inStock {
  background-color: green;
  color: white;
  border-radius: 5px;
  width: 6%;
}
.inStockText {
  padding: 5px;
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}
